# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Documentação SQLite: http://www.sqlite.org/docs.html

### Acessando Banco de Dados com Python

In [1]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [27]:
# Mostrando pasta atual
os.getcwd()

'C:\\Users\\88630447753\\Developer\\PythonFundamentos\\Cap06\\Notebooks'

In [28]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [29]:
type(con)

sqlite3.Connection

In [30]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [31]:
type(cur)

sqlite3.Cursor

In [32]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [33]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

OperationalError: table cursos already exists

In [34]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [35]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados'),
          (1013, 'Linguagem C', 'Linguagens de Programação')]

In [36]:
list(map(lambda rec: cur.execute(sql_insert, rec), recset))

IntegrityError: UNIQUE constraint failed: cursos.id

In [37]:
# Inserindo os registros
#for rec in recset:
 #   cur.execute(sql_insert, rec)

In [38]:
# Grava a transação
con.commit()

In [39]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [40]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [41]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1013, Título: Linguagem C, Categoria: Linguagens de Programação

In [42]:
# Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros com alternativa ao map
for rec in recset:
    cur.execute(sql_insert, rec)

# Gravando a transação
con.commit()

IntegrityError: UNIQUE constraint failed: cursos.id

In [43]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1013, Título: Linguagem C, Categoria: Linguagens de Programação

In [45]:
# Fecha a conexão
con.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>